* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: radial-gradient(circle at top, #020617, #000);
  color: white;
}

/* NAVBAR */

.navbar {
  background: #020617;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px cyan;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: cyan;
  text-shadow: 0 0 12px cyan;
}

.menu a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: cyan;
  text-shadow: 0 0 10px cyan;
}

/* CONTENIDO */

.content-container {
  padding: 90px 20px;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 60px;
  color: cyan;
  text-shadow: 0 0 25px cyan;
}

/* CARDS */

.cards {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.card {
  background: rgba(0,0,0,0.6);
  width: 260px;
  padding: 45px 20px;
  border-radius: 20px;
  box-shadow: 0 0 25px #00ffff70;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-18px) scale(1.05);
  box-shadow: 0 0 60px cyan;
}

.card h3 {
  font-size: 26px;
  margin-bottom: 25px;
}

/* BOTONES */

.btn {
  display: inline-block;
  padding: 12px 36px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  animation: pulse 2.5s infinite;
  transition: 0.3s;
}

.blue {
  background: linear-gradient(45deg, #2563eb, #00f);
  box-shadow: 0 0 18px #2563eb;
}

.green {
  background: linear-gradient(45deg, #16a34a, #00ff88);
  box-shadow: 0 0 18px #00ff88;
}

.btn:hover {
  transform: scale(1.12);
  box-shadow: 0 0 45px white;
}

/* FOOTER */

.footer {
  margin-top: 120px;
  padding: 25px;
  background: #020617;
  text-align: center;
  box-shadow: 0 0 20px cyan;
}

/* ANIMACION */

@keyframes pulse {
  0% { box-shadow: 0 0 10px cyan; }
  50% { box-shadow: 0 0 30px cyan; }
  100% { box-shadow: 0 0 10px cyan; }
}
