body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #1f2937;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navbar h1 {
    white-space: nowrap;
}


.menu a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.menu {
    white-space: nowrap;
}


.content-container {
    padding: 40px;
}

.footer {
    background: #111827;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}

.btn {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.blue { background: #2563eb; }
.green { background: #16a34a; }
