<!DOCTYPE html>
<html lang="es">
<head>
    {% include "fragments/head.html" %}
</head>
<body>

{% include "fragments/navbar.html" %}

<div class="content-container">

<h1>Listado de Institutos</h1>

<div style="text-align:center;">
    <a href="/institutos/nuevo" class="btn green">Nuevo Instituto</a>
</div>

<div class="table-container">
<table class="neon-table">

<thead>
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Dirección</th>
    <th>Acciones</th>
</tr>
</thead>

<tbody>
{% for i in institutos %}
<tr>
    <td>{{ i.id }}</td>
    <td>{{ i.nombre }}</td>
    <td>{{ i.direccion }}</td>

    <td>
        <div class="actions">

            <button class="action-btn"
                onclick="verInstituto({{i.id}})">👁</button>

            <button class="action-btn action-edit"
                onclick="editarInstituto({{i.id}})">✏</button>

            <button class="action-btn action-delete"
                onclick="borrarInstituto({{i.id}})">🗑</button>

        </div>
    </td>
</tr>
{% endfor %}
</tbody>

</table>
</div>

<button class="back-btn" onclick="history.back()">⬅ Volver</button>

<script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
