<!DOCTYPE html>
<html lang="es">
<head>
    {% include "fragments/head.html" %}
</head>
<body>

{% include "fragments/navbar.html" %}

<div class="content-container">

<h1>Listado de Estudiantes</h1>

<div style="text-align:center;">
    <a href="/estudiantes/nuevo" class="btn blue">Nuevo Estudiante</a>
</div>

<div class="table-container">
<table class="neon-table">

<thead>
<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Instituto</th>
    <th>Acciones</th>
</tr>
</thead>

<tbody>
{% for e in estudiantes %}
<tr>
    <td>{{ e.id }}</td>
    <td>{{ e.nombre }}</td>
    <td>{{ e.apellidos }}</td>
    <td>{{ e.email }}</td>
    <td>{{ e.instituto_id }}</td>

    <td>
        <div class="actions">

            <!-- VER -->
            <button class="action-btn"
                onclick="verEstudiante({{e.id}})">👁</button>

            <!-- EDITAR -->
            <button class="action-btn action-edit"
                onclick="editarEstudiante({{e.id}})">✏</button>

            <!-- BORRAR -->
            <button class="action-btn action-delete"
                onclick="borrarEstudiante({{e.id}})">🗑</button>

        </div>
    </td>
</tr>
{% endfor %}
</tbody>

</table>
</div>

<button class="back-btn" onclick="history.back()">⬅ Volver</button>

<script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
