<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Carga el HEAD común (title, css, meta, etc) -->
    {% include "fragments/head.html" %}
</head>

<body>

<!-- Barra de navegación común -->
{% include "fragments/navbar.html" %}

<!-- Contenedor principal -->
<main class="content-container">

    <!-- Título de la página -->
    <h2>Crear Estudiante</h2>

    <!-- Formulario que envía datos por POST -->
    <form method="post"
      action="{% if estudiante %}
                /estudiantes/{{ estudiante.id }}/editar
              {% else %}
                /estudiantes/nuevo
              {% endif %}">

    <!-- Nombre -->
    <label>Nombre</label>
    <input type="text"
           name="nombre"
           required
           value="{{ estudiante.nombre if estudiante else '' }}">

    <!-- Apellidos -->
    <label>Apellidos</label>
    <input type="text"
           name="apellidos"
           required
           value="{{ estudiante.apellidos if estudiante else '' }}">

    <!-- DNI -->
    <label>DNI</label>
    <input type="text"
           name="dni"
           required
           value="{{ estudiante.dni if estudiante else '' }}">

    <!-- Email -->
    <label>Email</label>
    <input type="email"
           name="email"
           value="{{ estudiante.email if estudiante else '' }}">

    <!-- Instituto -->
    <label>Instituto</label>
    <select name="instituto_id" required>

        {% for i in institutos %}
            <option value="{{ i.id }}"
                {% if estudiante and estudiante.instituto_id == i.id %}
                    selected
                {% endif %}
            >
                {{ i.nombre }}
            </option>
        {% endfor %}

    </select>

    <!-- Botón -->
    <button type="submit">
        {% if estudiante %}
            Actualizar
        {% else %}
            Guardar
        {% endif %}
    </button>

</form>


</main>

<!-- Pie de página común -->
{% include "fragments/footer.html" %}

</body>
</html>
