<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Cabecera común -->
    {% include "fragments/head.html" %}
</head>

<body>

<!-- Menú superior -->
{% include "fragments/navbar.html" %}

<!-- Contenedor -->
<main class="content-container">

    <!-- Título -->
    <h2>Crear Instituto</h2>

    <!-- Formulario POST -->
    <form method="post"
      action="{% if instituto %}
                /institutos/{{ instituto.id }}/editar
              {% else %}
                /institutos/nuevo
              {% endif %}">

    <!-- Nombre -->
    <label>Nombre</label>
    <input type="text"
           name="nombre"
           required
           value="{{ instituto.nombre if instituto else '' }}">

    <!-- Dirección -->
    <label>Dirección</label>
    <input type="text"
           name="direccion"
           required
           value="{{ instituto.direccion if instituto else '' }}">

    <!-- Ciudad -->
    <label>Ciudad</label>
    <input type="text"
           name="ciudad"
           value="{{ instituto.ciudad if instituto else '' }}">

    <!-- Teléfono -->
    <label>Teléfono</label>
    <input type="text"
           name="telefono"
           value="{{ instituto.telefono if instituto else '' }}">

    <!-- Email -->
    <label>Email</label>
    <input type="email"
           name="email"
           value="{{ instituto.email if instituto else '' }}">

    <!-- Número de profesores -->
    <label>Número de profesores</label>
    <input type="number"
           name="numero_profesores"
           value="{{ instituto.numero_profesores if instituto else '' }}">

    <!-- Tipo -->
    <label>Tipo</label>
    <select name="tipo">
        <option value="Publico"
            {% if instituto and instituto.tipo == "Publico" %}selected{% endif %}>
            Público
        </option>
        <option value="Privado"
            {% if instituto and instituto.tipo == "Privado" %}selected{% endif %}>
            Privado
        </option>
    </select>

    <!-- Año fundación -->
    <label>Año fundación</label>
    <input type="date"
           name="anio_fundacion"
           value="{{ instituto.anio_fundacion if instituto else '' }}">

    <!-- Botón -->
    <button type="submit">
        {% if instituto %}
            Actualizar
        {% else %}
            Guardar
        {% endif %}
    </button>

</form>


</main>

<!-- Footer -->
{% include "fragments/footer.html" %}

</body>
</html>

